.author{
  height: 60px;
  margin-bottom: 60px;
}

.author__details{
  padding-left: calc(60px + 20px);
}

.author__image{
  width: 60px;
  border-radius: 100%;
  float: left;
}

.author__name{

}

.author__post-time{

}